

<!--Main Page-->

<div class="container">

  <!--header-->
  <h1 >Recipe Blog</h1>
  <p>This paragraph is an introduction to the webpage. Here, the owner of the page will introduce themself and their blog. They will probably get way too personal for a recipe site, but hey, that's life. Maybe they will even mention people by name without telling who that person is. Such great mysteries await.</p>
  <button>New Recipe</button>

  <!--show 5 recipes-->
  <app-recipe></app-recipe>














</div>