<!--Displays input boxes and a button for editing a recipe-->

<div class="container">

	
		<form class="formMB" (ngSubmit)="onSubmit(recipeForm)" #recipeForm="ngForm">
            
			<div class="form-group">				
			  <label for="name">Name:</label>
			  <input name="name" ngModel type="text" class="form-control" id="name" placeholder={{recipe.name}} required><br>			
			</div>

			<div class="form-group">			
			  <label for="description">Description:</label>
			  <textarea name="description" ngModel type="text" class="form-control" id="description" placeholder={{recipe.description}} required></textarea> <br>		
			</div>

			<div class="form-group">			
			  <label for="ingredients">Ingredients:</label>
			  <textarea name="ingredients" ngModel type="text" class="form-control" id="ingredients" placeholder={{ingredientsAsString}} required></textarea> <br>			
			</div>

			<div class="form-group">			
			  <label for="steps">Steps:</label>
			  <textarea name="steps" ngModel type="text" class="form-control" id="steps" placeholder={{stepsAsString}} required></textarea> <br>	
			</div>

			<button class="btn btn-primary" type="submit" id="editBtn">Submit Edit</button>
	
		</form>


</div>
