/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

.card{
	margin-bottom: 2rem;
}

.mainHeader{
	margin-bottom: 2rem;
}
.formMB{
	margin-bottom: 2rem;
}

.right-float{
	float: right;
}